

/****** Object:  Table [dbo].[Foglalas]    Script Date: 2020. 04. 13. 19:01:41 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Foglalas](
	[FOGLALAS_PK] [int] NOT NULL,
	[UGYFEL_FK] [nvarchar](20) NOT NULL,
	[SZOBA_FK] [int] NOT NULL,
	[METTOL] [date] NOT NULL,
	[MEDDIG] [date] NOT NULL,
	[FELNOTT_SZAM] [int] NOT NULL,
	[GYERMEK_SZAM] [int] NOT NULL,
 CONSTRAINT [PK_Foglalas] PRIMARY KEY CLUSTERED 
(
	[FOGLALAS_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Szallashely]    Script Date: 2020. 04. 13. 19:01:41 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Szallashely](
	[SZALLAS_ID] [int] NOT NULL,
	[SZALLAS_NEV] [nvarchar](50) NOT NULL,
	[HELY] [nvarchar](20) NULL,
	[CSILLAGOK_SZAMA] [int] NULL,
	[TIPUS] [nvarchar](50) NULL,
	[ROGZITETTE] [nvarchar](20) NOT NULL,
	[ROGZ_IDO] [date] NOT NULL,
	[CIM] [nvarchar](100) NULL,
 CONSTRAINT [PK_Szallashely] PRIMARY KEY CLUSTERED 
(
	[SZALLAS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Szoba]    Script Date: 2020. 04. 13. 19:01:41 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Szoba](
	[SZOBA_ID] [int] NOT NULL,
	[SZOBA_SZAMA] [nvarchar](20) NOT NULL,
	[FEROHELY] [int] NOT NULL,
	[POTAGY] [int] NULL,
	[KLIMAS] [nvarchar](1) NULL,
	[SZALLAS_FK] [int] NULL,
 CONSTRAINT [PK_Szoba] PRIMARY KEY CLUSTERED 
(
	[SZOBA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Vendeg]    Script Date: 2020. 04. 13. 19:01:41 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Vendeg](
	[USERNEV] [nvarchar](20) NOT NULL,
	[NEV] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](60) NOT NULL,
	[SZAML_CIM] [nvarchar](100) NULL,
	[SZUL_DAT] [date] NULL,
 CONSTRAINT [PK_Vendeg] PRIMARY KEY CLUSTERED 
(
	[USERNEV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[Foglalas] ([FOGLALAS_PK], [UGYFEL_FK], [SZOBA_FK], [METTOL], [MEDDIG], [FELNOTT_SZAM], [GYERMEK_SZAM]) VALUES (558, N'NANDORF', 87, N'2016.04.06', N'2016.04.10', 2, 1)
INSERT [dbo].[Foglalas] ([FOGLALAS_PK], [UGYFEL_FK], [SZOBA_FK], [METTOL], [MEDDIG], [FELNOTT_SZAM], [GYERMEK_SZAM]) VALUES (559, N'ARONK', 131, N'2016.04.06', N'2016.04.08', 2, 0)
INSERT [dbo].[Foglalas] ([FOGLALAS_PK], [UGYFEL_FK], [SZOBA_FK], [METTOL], [MEDDIG], [FELNOTT_SZAM], [GYERMEK_SZAM]) VALUES (560, N'SEBASTIANF', 6, N'2016.04.06', N'2016.04.12', 2, 0)








INSERT [dbo].[Szallashely] ([SZALLAS_ID], [SZALLAS_NEV], [HELY], [CSILLAGOK_SZAMA], [TIPUS], [ROGZITETTE], [ROGZ_IDO], [CIM]) VALUES (1, N'Sába-Ház', N'Balaton-dél', 0, N'vendégház', N'Béla', CAST(N'2016-02-28' AS Date), N'8630 Balatonboglár, Radnóti Miklós utca 8')
INSERT [dbo].[Szallashely] ([SZALLAS_ID], [SZALLAS_NEV], [HELY], [CSILLAGOK_SZAMA], [TIPUS], [ROGZITETTE], [ROGZ_IDO], [CIM]) VALUES (2, N'Családi Ház', N'Balaton-dél', 0, N'vendégház', N'Béla', CAST(N'2016-03-02' AS Date), N'8630 Balatonboglár, József Attila utca 25')
INSERT [dbo].[Szallashely] ([SZALLAS_ID], [SZALLAS_NEV], [HELY], [CSILLAGOK_SZAMA], [TIPUS], [ROGZITETTE], [ROGZ_IDO], [CIM]) VALUES (3, N'Fortuna Apartman', N'Hajdúbihar megye', 0, N'Apartman', N'Sára', CAST(N'2016-03-06' AS Date), N'4200 Hajdúszoboszló, Wesselényi utca 56.')
INSERT [dbo].[Szoba] ([SZOBA_ID], [SZOBA_SZAMA], [FEROHELY], [POTAGY], [KLIMAS], [SZALLAS_FK]) VALUES (1, N'1', 3, 0, N'n', 1)
INSERT [dbo].[Szoba] ([SZOBA_ID], [SZOBA_SZAMA], [FEROHELY], [POTAGY], [KLIMAS], [SZALLAS_FK]) VALUES (2, N'2', 3, 1, N'i', 1)
INSERT [dbo].[Szoba] ([SZOBA_ID], [SZOBA_SZAMA], [FEROHELY], [POTAGY], [KLIMAS], [SZALLAS_FK]) VALUES (3, N'3', 3, 1, N'i', 1)


INSERT [dbo].[Vendeg] ([USERNEV], [NEV], [EMAIL], [SZAML_CIM], [SZUL_DAT]) VALUES (N'adam1', N'Kiss Ádám', N'ádám.kiss@mail.hu', N'5630 Békés Szolnoki út 8.', CAST(N'1991-12-28' AS Date))
INSERT [dbo].[Vendeg] ([USERNEV], [NEV], [EMAIL], [SZAML_CIM], [SZUL_DAT]) VALUES (N'adam3', N'Barkóci Ádám', N'adam3@gmail.com', N'3910 Tokaj Dózsa György utca 37.', CAST(N'1970-06-07' AS Date))
INSERT [dbo].[Vendeg] ([USERNEV], [NEV], [EMAIL], [SZAML_CIM], [SZUL_DAT]) VALUES (N'adam4', N'Bieniek Ádám', N'ádám.bieniek@mail.hu', N'8630 Balatonboglár Juhászföldi út 1.', CAST(N'1976-08-01' AS Date))

ALTER TABLE [dbo].[Foglalas]  WITH CHECK ADD  CONSTRAINT [FK_Foglalas_Szoba] FOREIGN KEY([SZOBA_FK])
REFERENCES [dbo].[Szoba] ([SZOBA_ID])

ALTER TABLE [dbo].[Foglalas] CHECK CONSTRAINT [FK_Foglalas_Szoba]

ALTER TABLE [dbo].[Foglalas]  WITH CHECK ADD  CONSTRAINT [FK_Foglalas_Vendeg] FOREIGN KEY([UGYFEL_FK])
REFERENCES [dbo].[Vendeg] ([USERNEV])

ALTER TABLE [dbo].[Foglalas] CHECK CONSTRAINT [FK_Foglalas_Vendeg]

ALTER TABLE [dbo].[Szoba]  WITH CHECK ADD  CONSTRAINT [FK_Szoba_Szallashely] FOREIGN KEY([SZALLAS_FK])
REFERENCES [dbo].[Szallashely] ([SZALLAS_ID])

ALTER TABLE [dbo].[Szoba] CHECK CONSTRAINT [FK_Szoba_Szallashely]


